@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Garante que o fundo seja preto sólido em qualquer dispositivo */
  background-color: #000000; 
}

/* Ajuste para evitar que o iOS mude a cor do fundo no scroll */
html {
  background-color: #000000;
}
